<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melli</title>
    <link rel="icon" href="/img/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="/site/static/css/default.css">
  </head>
  <body data-spy="scroll" data-target=".navbar-default">
    {% if thankyou %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      Sähköpostiosoitteesi on tallennettu! Kiitos mielenkiinnostasi.
    </div>
    {% endif %}
    <div id="top" class="jumbotron">
      <p class="brand">Melli</p>
      <a class="login" href="#">Kirjaudu sisään</a>
      <h1>Keskity olennaiseen</h1>
      <div class="bottom">
        <a data-scroll href="#more">
          <i class="fa fa-angle-down fa-5x"></i>
        </a>
      </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a data-scroll class="navbar-brand" href="#top">Melli</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a data-scroll href="#more">Johdanto</a></li>
            <li><a data-scroll href="#features">Toiminnot</a></li>
            <li><a data-scroll href="#pricing">Hinnoittelu</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="login" href="#">Kirjaudu sisään / Aloita käyttö</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <p id="more">&nbsp;</p>
      <h2 class="text-center">Sähköinen taloushallinto yrittäjälle, joka arvostaa vapaa-aikaansa</h2>
      <p class="text-center">
        <button class="btn btn-primary btn-large">Aloita käyttö vaikka heti!</button><br>
        <small>Ensimmäiset neljä viikkoa ovat ilmaisia, sen jälkeen 20€/kk (alv0%).</small>
      </p>
      <h2 class="brand">Melli <small>on aidosti sähköinen taloushallinto</small></h2>
      <div class="row">
        <div class="col-md-8">
          <p>
            ALV-maksupäivä lähestyy ja lappuja ei löydy kirjanpitäjälle mistään. Se yksi ostolasku taisi tulla sähköpostilla. Vai oliko se sittenkin kirjeposti. Vai tulikohan se suoraan verkkopankkiin E-laskuna..
          </p>
          <p>
            Kuulostaako tutulta? Minulle se oli arkipävää. Yrittäjyyden tuoma vapaus tuntuu turhan laimealta kun joka kuukausi kaivelee työpöydän ja sähköpostin uumenista kuumeisesti lappuja kirjanpitäjälle lähetettäväksi.
            Samalla toivoen ettei posti hukkaa pakettia, koska verottajan karhukirje kyllä löytää kotiin.
          </p>
          <p>
            Melli on yksityisyrittäjän rakentama palvelu yksityis- ja pienyrittäjille. Sen avulla yrittäjä voi keskittyä tuottavaan työhön ja minimoida turhat työvaiheet taloushallinnon pyörittämisessä. Melli
            pyrkii tekemään puolestasi turhat työvaiheet ja tarpeellisista se yrittää tehdä niin helposti suoriuduttavat kuin mahdollista. Mellin avulla kulujen kirjaaminen ja laskuttaminen on mielestäni oikeasti helppoa
            ja hauskaa. No, ainakin vähemmän tuskaista.
          </p>
          <p>
            Saat kokeilla Melliä neljä viikkoa aivan veloituksetta. Ja jos tuntuu siltä että Melli ei tarjoa rahoillesi vastinetta, saat kaiken syöttömäsi tiedon mukaasi kun lähdet.
          </p>
          <p>
            Toivottavasti viihdyt Mellin parissa yhtä paljon kuin minä viihdyin sitä tehdessä.
          </p>
          <p>
            - <i>Niklas Närhinen, pienyrittäjä</i>
          </p>
        </div>
        <div class="col-md-4">
          <img alt="Niklas" style="width: 100%" src="/site/static/img/niklas.jpg">
        </div>
      </div>
      <h2 id="features">Toiminnot</h2>
      <p>
        Lorem ipsum
      </p>
      <h2 id="pricing">Hinnoittelu</h2>
      <p>
      </p>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Sulje</span></button>
            <h4 class="modal-title">Hups..</h4>
          </div>
          <div class="modal-body">
            <p>
              Kiitos mielenkiinnosta Melliä kohtaan!
            </p>
            <p>
              Melli ei ihan vielä ole valmis julkisen yleisön käyttöön. Jos olet kiinnostunut koekäyttämään ensimmäisten joukossa, jätäthän sähköpostiosoitteesi alla olevaan laatikkoon.
              Saat sähköpostiisi kirjautumisohjeet mahdollisimman pian.
            </p>
            <form method="post" action="/subscribe">
              <div class="form-group">
                <input type="email" name="email" id="fe-email" placeholder="Sähköpostiosoitteesi tähän" class="form-control">
              </div>
            </form>
            <p>
              <small>Sähköpostiasi käytetään ainoastaan Melliin liittyvien asioiden tiedottamiseen.</small>
            </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-primary btn-send-email">Lähetä</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ei kiitos</button>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/site/static/js/smooth-scroll.min.js"></script>
    <script>
    $(function() {
      $('.login').on('click', function(ev) {
        ev.preventDefault();
        $('#login-modal').modal();
      });
      $('.btn-send-email').on('click', function(ev) {
        ev.preventDefault();
        $('#login-modal form').submit();
      });
      var jumbotron = $('.jumbotron');
      $('.navbar-default,#more').affix({
        offset: {
          top: function() {
            return jumbotron.outerHeight();
          }
        }
      });
    });
    smoothScroll.init({
      offset: 66
    });
    </script>
  </body>
</html>
