<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Melli</title>
    <link rel="icon" href="/img/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="/site/static/css/default.css">
    <script src="/static/vendor/pdfjs-1.0.473-dist/build/pdf.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <p class="brand">Melli</p>
      <h1>Keskity olennaiseen</h1>
      <div class="bottom">
        <a href="#more">
          <i class="fa fa-arrow-down fa-4x"></i>
        </a>
      </div>
    </div>
    <div class="container">
      <a id="more"></a>
      <h2 class="text-center">Sähköinen taloushallinto yrittäjälle, joka arvostaa vapaa-aikaansa</h2>
      <p class="text-center">
        <button class="btn btn-primary btn-large">Aloita käyttö vaikka heti!</button><br>
        <small>Ensimmäiset neljä viikkoa ovat ilmaisia, sen jälkeen 20€/kk (alv0%).</small>
      </p>
      <h2 class="brand">Melli <small>on aidosti sähköinen taloushallinto</small></h2>
      <div class="row">
        <div class="col-md-8">
          <p>
            ALV-maksupäivä lähestyy ja lappuja ei löydy kirjanpitäjälle mistään. Se yksi ostolasku taisi tulla sähköpostilla. Vai oliko se sittenkin kirjeposti. Vai tulikohan se suoraan verkkopankkiin E-laskuna..
          </p>
          <p>
            Kuulostaako tutulta? Minulle se oli arkipävää. Yrittäjyyden tuoma vapaus tuntuu turhan laimealta kun joka kuukausi kaivelee työpöydän ja sähköpostin uumenista kuumeisesti lappuja kirjanpitäjälle lähetettäväksi.
            Samalla toivoen ettei posti hukkaa pakettia, koska verottajan karhukirje kyllä löytää kotiin.
          </p>
          <p>
            Melli on yksityisyrittäjän rakentama palvelu yksityis- ja pienyrittäjille. Sen avulla yrittäjä voi keskittyä tuottavaan työhön ja minimoida turhat työvaiheet taloushallinnon pyörittämisessä. Melli
            pyrkii tekemään puolestasi turhat työvaiheet ja tarpeellisista se yrittää tehdä niin helposti suoriuduttavat kuin mahdollista. Mellin avulla kulujen kirjaaminen ja laskuttaminen on mielestäni oikeasti helppoa
            ja hauskaa. No, ainakin vähemmän tuskaista.
          </p>
          <p>
            Saat kokeilla Melliä neljä viikkoa aivan veloituksetta. Ja jos tuntuu siltä että Melli ei tarjoa rahoillesi vastinetta, saat kaiken syöttömäsi tiedon mukaasi kun lähdet.
          </p>
          <p>
            Toivottavasti viihdyt Mellin parissa yhtä paljon kuin minä viihdyin sitä tehdessä.
          </p>
          <p>
            - <i>Niklas Närhinen, pienyrittäjä</i>
          </p>
        </div>
        <div class="col-md-4">
          <img alt="Niklas" style="width: 100%" src="/site/static/img/niklas.jpg">
        </div>
      </div>
    </div>
  </body>
</html>
