jumbotronBrandColor=#333
.jumbotron, html, body
  height 100%
body
  position relative
.jumbotron
  background-image url('/site/static/img/jumbotronbg.jpg')
  background-size cover
  position relative
  margin-bottom 0px
  .login
    position absolute
    top 15px
    right 25px
    color #333
  .brand
    //font-family: 'Crafty Girls', cursive;
    //font-family: 'Roboto', sans-serif;
    font-family 'Dancing Script', cursive
    color jumbotronBrandColor
    position absolute
    top 15px
    font-size 48px
    padding 10px 20px
    //border 2px solid jumbotronBrandColor
    //border-radius 5px
  h1
    text-align right
  .bottom
    position absolute
    bottom 0px
    left 0px
    right 0px
    text-align center
    a
      color #fff
      text-shadow 0px 2px 3px #333
      transition 0.3s
      background-color rgba(#333, 0.9)
      width 80px
      height 80px
      display inline-block
      border-radius 40px
      &:hover
        color #ccc
h2.brand
  font-size 3em
.brand,.navbar-brand
  font-family 'Dancing Script', cursive
.navbar.navbar-default.affix
  background-color rgba(#333, 0.9)
  position fixed
  top 0px
  left 0px
  right 0px
  z-index 10
#more.affix-top
  height 0px
  margin 0px
  padding 0px
#more.affix
  height 60px
  margin-top 8px
  position static

.alert.alert-success
  position absolute
  z-index 10
  top 0px
  left 0px
  right 0px
  background-color rgba(#43ac6a, 0.9)
